*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formulario{
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%  ;
}

.formulario-input {
  height: 20vh;
  width: 40vw;
  margin-top: 2rem;
  gap: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nameOfProduct{
  text-indent: .5rem;
  width: 50%;
  height: 1.5rem;
}

.priceOfProduct{
  text-indent: .5rem;
  width: 30%;
  height: 1.5rem;
}